# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Barış Cem Bakay
email: bariscembakay@gmail.com
description: >-
  Personal site & portfolio by Barış Cem Bakay. Software engineering,
  learning notes, side projects, and experiments.
baseurl: ""
url: "https://bariscembakay.github.io"
github_username: bariscembakay

# Timezone for date handling
timezone: Europe/Istanbul

# Custom links used in footer
links:
  github: https://github.com/bariscembakay
  linkedin: https://www.linkedin.com/in/bar%C4%B1%C5%9F-cem-bakay-39054119a/
  email: mailto:bariscembakay@gmail.com
  cv: /cv/

# Build settings
# Remove theme to use custom layouts
# theme: minima
plugins:
  - jekyll-feed

# Markdown & permalink settings
markdown: kramdown
permalink: pretty

# Defaults for layouts
defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: post
  - scope:
      path: ""
      type: "pages"
    values:
      layout: page

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
